@page
@using BlazorAuth.Shared.Enums;
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="row mt-5">
        <div class="row d-flex justify-content-center">
            <h1 class="d-flex justify-content-center mb-5">@ViewData["Title"]</h1>
            <div class="col-md-6">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2>Create a new account.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-1">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-1">
                        <input asp-for="UserDetail.FirstName" class="form-control" autocomplete="firstname" aria-required="true" />
                        <label asp-for="UserDetail.FirstName"></label>
                        <span asp-validation-for="UserDetail.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-1">
                        <input asp-for="UserDetail.Surname" class="form-control" autocomplete="surname" aria-required="true" />
                        <label asp-for="UserDetail.Surname"></label>
                        <span asp-validation-for="UserDetail.Surname" class="text-danger"></span>
                    </div>
                    <div class="row form-floating mb-1">
                        <div class="col-4 d-flex justify-content-center">
                            <select class="form-control" asp-for="UserDetail.Gender" asp-items="Html.GetEnumSelectList<Gender>()">
                                <option selected="selected" value="">Gender</option>
                            </select>
                            <span asp-validation-for="UserDetail.Gender" class="text-danger"></span>
                        </div>                   
                        <div class="col">
                            <label asp-for="UserDetail.BirthDate" style="color: rgba(33,37,41, 0.65)"></label>
                            <input class="form-control" asp-for="UserDetail.BirthDate" style="color: rgba(33,37,41, 0.65)" />
                            <span asp-validation-for="UserDetail.BirthDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-floating mb-1">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.Password"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-1">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.ConfirmPassword"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </form>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-6">
                <section>
                    <h3>Use another service to register.</h3>
                    <hr />
                    @{
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="w-100 btn btn-lg btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </div>
                        </form>
                    }
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
