@page "/details"

<h3>Details</h3>

@if (showDetails)
{
    <div class="row d-flex mt-4 ms-4 mb-5">
        <div class="row mt-3">
            <div class="col d-flex align-items-center mb-1">
                <label><b>First Name:</b> @userDetailDto.FirstName</label>
            </div>
            <div class="col d-flex align-items-center mb-1">
                <label><b>Surname:</b> @userDetailDto.Surname</label>
            </div>
            <div class="col d-flex align-items-center mb-1">
                <label><b>Birth Date:</b> @birthDate</label>
            </div>
            <div class="col d-flex align-items-center mb-1">
                <label><b>Gender:</b> @gender</label>
            </div>
            <div class="col w-50  d-flex align-items-center mb-1">
                <button class="btn btn-primary" @onclick="GetStrings">Get Strings</button>
            </div>
        </div>

        @if (Show)
        {
            <div class="row mt-5">
                <RadzenDataGrid Data="@ArrayStr" TItem="StringValueDto" AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true"
                        PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
                        ShowPagingSummary="true" LogicalFilterOperator="LogicalFilterOperator.Or">
                    <Columns>
                        <RadzenDataGridColumn TItem="StringValueDto" Property="Value" Filterable="false" Title="String" Frozen="true" Width="100%" TextAlign="TextAlign.Center" />
                    </Columns>
                </RadzenDataGrid>
            </div>
        }
    </div>
}
<button class="btn btn-primary btn-backTo" @onclick="BackToSendys">Back To Sendys Menu</button>

