@page "/"

<PageTitle>Index</PageTitle>

<div class="d-flex justify-content-center align-items-center">
    <div class="row mt-5">
        <div class="row">
            <h1 class="d-flex justify-content-center">Hello, Sendys!</h1>
        </div>
        <div class="row">
            <label class="d-flex justify-content-center">Welcome to BlazorAuth.</label>
        </div>
    </div>
</div>

@*@if (user is not null)
{
    <h3>@user.Identity.Name</h3>
    <div class="m-2 p-2">
        Is Authenticated: @user.Identity.IsAuthenticated
    </div>
    <div class="m-2 p-2">
        Authentication Type: @user.Identity.AuthenticationType
    </div>
    <div class="m-2 p-2">
        Sendys Role: @user.IsInRole("Sendys")
    </div>
    <div class="m-2 p-2">
        <h5>Claims</h5>
        @foreach (var claim in user.Claims)
        {
            <span>
                @claim.Type
            </span>
            <span>:</span>
            <span>
                @claim.Value
            </span>
            <br />
        }
    </div>
}
*@
@code {

    [CascadingParameter] 
    public Task<AuthenticationState> AuthTask { get; set; }

    private System.Security.Claims.ClaimsPrincipal user;

    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthTask;
        this.user = authState.User;
    }
}